@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forgot Password</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <style type="text/css">
        body {
            margin: 20pt !important;
            background-image: url(../Images/loginBackground.jpg);
            background-size: cover;
            background-attachment: fixed
        }
        .error {
            color: red;
        }

        far fa-hospital{
            margin-right:25%;
        }
    </style>
</head>
<body>
    <div class="body-content" style="margin-top:10%;">
        <div class="container panel panel-default" style="background-color: rgba(247,247,247,0.8);padding:20px">
            @using (Html.BeginForm())
            {

                <h2>Reset Password</h2>

                <hr />
                <div style="color:green">
                    @ViewBag.Message
                </div>
                <center>
                    <div class="form-group">
                        <label class="control-label col-md-2">Email ID/UserName</label>
                        @Html.TextBox("EmailID", "", new { @class = "form-control" })
                    </div>
                    <input type="submit" value="Submit" class="btn btn-success" />
                    <input type="button" value="Cancel" class="btn btn-default" onclick="@("location.href='"+ Url.Action("Index","Login")+ "'")" />
                    <hr />
                    <h2><i class="far fa-hospital"></i>Clinic Management System</h2>
                </center>

            }
        </div>
    </div>
    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>


